<ion-content [fullscreen]="true" class="login-bg">

  <div class="login-wrapper">

    <!-- TOP SECTION -->
    <div class="top-section">
      <img src="assets/icon/ibu.png" alt="logo" class="logo">

      <h1>BundaTenang</h1>
      <p>Temani perjalanan kehamilanmu dengan nyaman 💕</p>
    </div>

    <!-- FORM SECTION -->
    <div class="form-section">

      <ion-item lines="none" class="input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <!-- Forgot -->
      <div class="forgot">
        <span>Lupa password?</span>
      </div>

      <!-- Button -->
      <ion-button expand="block" class="login-btn" (click)="onLogin()">
        MASUK
      </ion-button>

      <!-- Divider -->
      <div class="divider">
        <span>atau</span>
      </div>

      <!-- Register -->
      <p class="register-text">
        Belum punya akun? <span (click)="goToRegister()">Daftar sekarang</span>
      </p>

    </div>

  </div>

</ion-content>